.home-container {
  padding: 20px;
}

.home-card {
  border-radius: 20px;
  background-color: #00285f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container-image svg {
  width: 100%;
  height: auto;
  padding: 62px 28px 0 28px;

}

.home-container-text {
  text-align: center;
}

.home-container-text h2 {
  width: 260px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 35px 5px 5px 5px;

}

.home-container-text p {
  width: 260px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 0 10px 40px 10px;

}

/*CONTAINER PESQUISA*/

.home-card-button {
  border-radius: 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.home-container-button {
  padding: 20px 0 0 0;
}

.home-container-text-search p {
  padding: 9px 20px 25px 20px;
  font-size: 18px;
  font-weight: 400;
}

/*Breakpoint*/

@media (min-width: 576px) {
  .home-container-image svg {
    width: 350px;
    padding: 22px 2px 0 2px;
  }

  .home-container-text h2 {
    width: 506px;
    font-size: 36px;
    padding: 19px 5px 5px 5px;
  }

  .home-container-text p {
    width: 506px;
    font-size: 18px;
    padding: 0px 30px 20px 30px;
  }

  .home-card-button {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .home-container-button {
    padding: 40px 20px 40px 0;
  }
  
  .home-container-text-search p {
    padding: 40px 0px 40px 0px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }


}

@media (min-width: 768px){

  .home-container-image svg {
    width: 450px;
    padding: 62px 28px 0px 28px;
  }
  
  .home-container-text h2 {
    padding: 40px 0 0 0;
  }
  
  .home-container-text p {
    padding: 0 50px 50px 50px;
  }

  .home-card-button {
    justify-content: flex-start;
    align-items: baseline;
  }

  .home-container-button {
    padding: 40px 20px 40px 60px;
  }
  
}

@media (min-width: 992px){
  
  .home-container-image svg {
    width: 506px;
  }
  
  .home-container-text h2 {
    padding: 42px 0 0 0;
  }
  
  .home-container-text p {
    padding: 0 50px 100px 50px;
  }

  .home-card-button {
    justify-content: flex-start;
    align-items: baseline;
  }

  .home-container-button {
    padding: 40px 20px 40px 60px;
  }
}

@media (min-width: 1280px){

  .home-card {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    margin: 20px 140px 20px 140px;
  }

  .home-container-text {
    text-align: left;
  }

  .home-container-image svg {
    width: 350px;
    padding: 0;
    margin: 80px 0 80px 0;
  }
  
  .home-container-text h2 {
    font-size: 36px;
  }
  
  .home-container-text p {
    padding: 0 50px 100px 0px;
    font-size: 20px;
  }

  /*car*/

  .home-card-button {
    justify-content: left;
    align-items: baseline;
    margin: 20px 140px 0 140px;
  }

}

@media (min-width: 1400px){

  .home-card {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    margin: 20px 140px 20px 140px;
  }

  .home-container-text {
    text-align: left;
  }

  .home-container-image svg {
    width: 506px;
    padding: 0;
    margin: 80px 0 80px 0;
  }
  
  .home-container-text h2 {
    font-size: 36px;
  }
  
  .home-container-text p {
    padding: 0 50px 100px 0px;
    font-size: 20px;
  }

  /*car*/
  .home-container-button {
    padding: 40px 20px 40px 100px;
  }


}


